POSTGRES_DB=rice_dss
POSTGRES_USER=rice_dss
POSTGRES_PASSWORD=rice_demo_change_me
MINIO_ROOT_USER=dss_local_admin
MINIO_ROOT_PASSWORD=dss_local_storage_change_me
MINIO_BUCKET=dss-data
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver_demo_change_me
